/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  background: $color__link;
  @include font-size(0.75);
  line-height: 1;
  padding: $base__space-unit/2 $base__space-unit;
  color: $color__background-body;
  text-transform: uppercase;
  font-family: $font__accent;
  &:hover {
    background: darken($color__link, 10%);
  }
  i.fa {
    margin-right: $base__space-unit/2 ;
  }

  &.black-btn {
    background: $color__background-body;
    color: $color__text-main;
    a,a:visited {
      color: $color__text-main;
    }
    border: 1px solid $color__text-main;

    &:hover {
      background: $color__link;
      color: $color__background-body;
      a {
        color: $color__background-body;
      }
      border: 1px solid $color__link;
    }
  }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: $solid_border;
  background: #f4f4f4;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}
